body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  border-top: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 6px solid dimgray;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  background-color: #fdfdf5;
  color: black;
  text-align: center;
  padding: 1.5rem 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top: 1px solid black;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}
.past {
  background-color: rgb(153, 153, 153);
  color: black;
}

.present {
  background-color: rgb(255, 115, 72);
  color: #050709;
}

.future {
  background-color: rgb(159, 223, 65);
  color: #050709;
}

.saveBtn {
  border-left: 1px dashed black;
  border-top: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: teal;
  color: whitesmoke;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
